<div class="container">
  <h1>Articles</h1>
  <button class="btn btn-primary m-2" data-bs-toggle="modal" data-bs-target="#postArticle">Add</button>
  <form class="form-group" (ngSubmit)="addNewArticle()">
  <div class="modal" id="postArticle" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add new article</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        
        <div class="modal-body ">
          
            <div class="mb-3">
              <label for="articleTitle" class="form-label">Title</label>
              <input type="text" class="form-control" id="articleTitle" name="title" [(ngModel)]="title">
            </div>
            <div class="mb-3">
              <label for="articleContent" class="form-label">Content</label>
              <input type="text" class="form-control" id="articleContent" name="content" [(ngModel)]="content">
            </div>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Add</button>
        </div>
      
      </div>
    </div>
  </div>
 </form>

  <div class="row">
    <div
    *ngFor="let article of AllArticles" 
    class="col-sm-12">
      <app-article [Article]="article"></app-article>
    </div>
  </div>
</div>
